body,html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Pre Defined */

.container {
    width: 100%;
    padding: 0 0;
}

.section {
    height: 100vh;
    width: 100%;
}

.sectionTitle {
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #BE9B49;
    font-size: 40px;
    padding-bottom: 10px;
    margin-top: 80px;
}

/* Header */
header .carousel-inner .item {
    height: 100vh;
}


.block {
    background-color: #04070E;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 46px 0 rgb(17 59 60 / 50%);
}

#navbar {
    width: 100%;
    padding: 0 30px;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 35px;
    padding: 22px 15px;
    font-weight: 600;
}

.navbar-brand img {
    height: 50px;
    display: inline;
    margin-right: 20px;
}

.nav.navbar-nav.navbar-right {
    margin: 25px 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #BE9B49;
    transform: scale(120%);
    transition: 0.2s ease-in-out;
}

.navbar-inverse .navbar-toggle {
    margin-top: 20px;
}

.banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.carousel-caption {
    padding-bottom: 250px;
    font-family: poppins;
}

.carousel-caption h2 {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
}

.carousel-caption h2 span {
    color: #BE9B49;
}

.carousel-caption a {
    background: #BE9B49;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.carousel-indicators .active {
    background-color: #BE9B49;
    border-color: #BE9B49;
}

/* Services */

.services {
    background: #f1f1f1;
    text-align: center;
    height: fit-content;
    padding: 0 20px;
}

.service-cont {
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.service {
    display: inline-block;
    width: calc(100% / 3);
    margin: 20px -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
}

.service:hover {
    background: #ddd;
}

.service i {
    color: #BE9B49;
    font-size: 34px;
    margin-bottom: 20px;
}

.service h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.service p {
    color: gray;
    font-size: 18px;
    font-weight: 350;
    line-height: 33px;
}



/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 1150px) {
    .carousel-caption h2 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-brand img {
        height: 40px;
        margin-right: 20px;
    }
    .navbar-inverse .navbar-brand {
        font-size: 29px;
        padding: 30px 15px;
    }
}

@media only screen and (max-width: 780px) {
    .navbar-inverse .navbar-brand {
        font-size: 25px;
        padding: 30px 15px;
    }
    .service {
        width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-inverse .navbar-brand {
        font-size: 28px;
        padding: 20px 15px;
    }
    .navbar-collapse {
        background: rgba(0, 0, 0, 0.5);
    }
    .carousel-caption {
        padding-bottom: 120px;
    }
    .carousel-caption h2 {
        font-size: 25px;
    }
    .carousel-caption h3 {
        font-size: 18px;
    }
    .carousel-caption a {
        padding: 10px 25px;
    }
}

@media screen and (max-width: 500px) {
    .navbar-inverse .navbar-brand {
        font-size: 26px;
        padding: 20px 0px;
    }
    .navbar-toggle {
        margin-right: 0;
    }
    .service {
        width: 100%;
    }
}