body, html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Pre Defined */

.container {
    width: 100%;
    padding: 0 0;
}

.section {
    text-align: center;
    height: 100vh;
    width: 100%;
    background: #f1f1f1;
    height: fit-content;
}

.sectionTitle {
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #BE9B49;
    font-size: 40px;
    padding-bottom: 10px;
    margin-top: 80px;
}

/* Splash/Loader Screen */

.intro-cont {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #04070E;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 50px;
    font-weight: 500;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.quote {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 200;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.quote.active {
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.quote.fade {
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* Header */

header .carousel-inner .item {
    height: 100vh;
}

.block {
    background-color: #04070E;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 46px 0 rgb(17 59 60 / 50%);
}

#navbar {
    width: 100%;
    padding: 0 30px;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 35px;
    padding: 22px 15px;
    font-weight: 600;
}

.navbar-brand img {
    height: 50px;
    display: inline;
    margin-right: 20px;
}

.nav.navbar-nav.navbar-right {
    margin: 25px 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #BE9B49;
    transform: scale(120%);
    transition: 0.2s ease-in-out;
}

.navbar-inverse .navbar-toggle {
    margin-top: 20px;
}

.banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

#header .carousel-caption {
    padding-bottom: 250px;
    font-family: poppins;
}

#header .carousel-caption h2 {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
}

#header .carousel-caption h2 span {
    color: #BE9B49;
}

#header .carousel-caption a {
    background: #BE9B49;
    padding: 12px 32px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 400;
}

#header .carousel-control.right {
    background-image: none;
}

#header .carousel-control.left {
    background-image: none;
}

#header .carousel-indicators .active {
    background-color: #BE9B49;
    border-color: #BE9B49;
}

/* Services */

.services {
    padding: 30px 20px;
}

.service-cont {
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.service {
    display: inline-block;
    width: calc(100% / 3);
    margin: 20px -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
}

.service:hover {
    background: #ddd;
}

.service i {
    color: #BE9B49;
    font-size: 34px;
    margin-bottom: 20px;
}

.service h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.service p {
    color: rgb(114, 113, 113);
    font-size: 18px;
    font-weight: 350;
    line-height: 33px;
}

/* Testimonial */

.test {
    background-image: url("/assets/images/bg4.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: fit-content;
    min-height: 100vh;
    padding: 30px 0 0 0;
}

.test .row {
    margin: 0;
}

.test h2 {
    color: rgb(255, 255, 255);
}

.test .col-center {
    margin: 0 auto;
    float: none !important;
}

.test .carousel {
    width: 90%;
    margin: 50px auto;
    padding: 0 70px;
}

.test .carousel-item {
    color: rgb(202, 202, 202);
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
    font-weight: 300;
    line-height: 33px;
}

.test .carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 2px;
    border: 4px solid #BE9B49;
    border-radius: 50%;
}

.test .carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.test .carousel .testimonial {
    padding: 30px 0 10px;
}

.test .carousel .overview {
    font-style: italic;
}

.test .carousel .overview b {
    text-transform: uppercase;
    color: #be9b49;
}

.test .carousel .carousel-control {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}

.test .carousel-control i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
}

.test .carousel .carousel-indicators {
    bottom: -40px;
}

.test .carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 1px 3px;
    border-radius: 50%;
}

.test .carousel-indicators li {
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.test .carousel-indicators li.active {
    background: #555;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Attorney */

#attorney .sectionTitle {
    margin: 100px 0 50px 0;
}

.attorney-cont {
    margin: 20px 40px;
    color: white;
}

.profiles {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.profile {
    flex-basis: 260px;
    margin: 20px 20px;
}

.profile .profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}

.profile:hover .profile-img {
    filter: grayscale(0);
}

.user-name {
    margin-top: 30px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.profile h5 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #be9b49;
}

.profile p {
    color: rgb(114, 113, 113);
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}

/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 1150px) {
    #header .carousel-caption h2 {
        font-size: 50px;
    }
    .profiles {
        flex-direction: column;
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile p {
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-brand img {
        height: 40px;
        margin-right: 20px;
    }
    .navbar-inverse .navbar-brand {
        font-size: 29px;
        padding: 30px 15px;
    }
    .profiles {
        margin: 20px 0;
    }
    .profile p {
        margin: 20px 10px 80px 10px;
    }
}

@media only screen and (max-width: 780px) {
    .navbar-inverse .navbar-brand {
        font-size: 25px;
        padding: 30px 15px;
    }
    .service {
        width: 50%;
    }
    .logo-header {
        font-size: 40px;
        font-weight: 500;
    }
    .quote {
        font-size: 25px;
        font-weight: 200;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-inverse .navbar-brand {
        font-size: 28px;
        padding: 20px 15px;
    }
    .navbar-collapse {
        background: rgba(0, 0, 0, 0.5);
    }
    #header .carousel-caption {
        padding-bottom: 120px;
    }
    #header .carousel-caption h2 {
        font-size: 25px;
    }
    #header .carousel-caption h3 {
        font-size: 18px;
    }
    #header .carousel-caption a {
        padding: 10px 25px;
    }
}

@media screen and (max-width: 500px) {
    .logo-header {
        font-size: 30px;
        font-weight: 500;
    }
    .quote {
        font-size: 20px;
        font-weight: 200;
    }
    .navbar-inverse .navbar-brand {
        font-size: 26px;
        padding: 20px 0px;
    }
    .navbar-toggle {
        margin-right: 0;
    }
    .service {
        width: 100%;
    }
    .test .carousel-item {
        font-size: 15px;
        line-height: 23px;
    }
    .test .carousel .item .img-box {
        height: 100px;
        width: 100px;
    }
}